<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" [class.active]="isActive">
        <!-- <div  class="sidebar-header"> -->
            <button class="btn btn-primary" data-toggle="button" style="
            float: right;"
                (click)="ToogleSidebar()">
                C
            </button>
        <!-- </div> -->
        <ul *ngIf="!isActive" class="list-unstyled components">
            <li class="active">
                <a href="#" [routerLink]="['']" >Home</a>
            </li>
            <li>
                <a href="#customizing" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customizing</a>
                <ul class="collapse list-unstyled" id="customizing">
                    <li>
                        <a href="#" [routerLink]="['/customizing/file-system']">FileSystem</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>


    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
