<h2>{{ day.day }}</h2><button mat-button (click)="checkAll()">Check All</button>
<div class="mygallery">
  <div
    class="lightgallery"
    *ngFor="let image of images"
    [ngStyle]="{
      background:
        'url(data:image/jpg;base64,' + image.thumb + ') no-repeat left center',
      'background-size': 'cover'
    }"
  >
    <div class="zoom" (click)="onClick(image)"></div>
      <mat-checkbox class="del" (change)="onSelected(image)"></mat-checkbox>
      <button mat-button class="edit" (click)="onEdit(image)"><mat-icon class="editIcon">
          edit
          </mat-icon></button>
  </div>
</div>
